/* 
    - Variables
    - Browser default styles
    - Base styles
    - Font styles

    The foregoing remain constant throughout all styles specified for all screens.
*/

/* Varibables */
:root {
    --primary-1: rgb(42, 178, 175);
    --primary-2: rgb(192, 223, 52);

    --neutral-1: rgb(229, 239, 245);
    --neutral-2: rgb(152, 166, 189);

    --font-stack: Karla;
}

/* Reset browser defaults */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Base styles */
body {
    font-size: 16px;
    font-family: var(--font-stack);

    background-color: var(--neutral-1);
}

#join-our-community {
    background-color: white;
}

#monthly-subscription {
    background: var(--primary-1);
}

#monthly-subscription button {
    background-color: var(--primary-2);

    width: 100%;
    height: 3rem;

    border-radius: 0.5rem;
    border: none;

    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#why-us {
    background-color: rgba(42, 178, 175, 0.5);
}

/* Font styles */
h1, h2, p {
    font-size: 1rem;
}

p, ul {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

    /* Join Our Community styles */
#join-our-community h1 {
    color: var(--primary-1);
    font-weight: 700;
}

#join-our-community h2 {
    color: var(--primary-2);
    font-weight: 700;
}

#join-our-community p {
    color: var(--neutral-2);
}

    /* Monthly subscription styles */
#monthly-subscription {
    color: white;
}

#monthly-subscription #rate {
    color: rgba(229, 239, 245, 0.5);
}

#monthly-subscription button {
    color: white;
    font-weight: 700;

    letter-spacing: 0.1rem;
}

    /* Why Us styles */
#why-us h2 {
    color: white;
    font-weight: 700;
}

#why-us ul {
    color: var(--neutral-1);
}

/*
    - Small mobile - 320px
    - Medium mobile - 375px
    - Large mobile - 425px
    - Tablet - 768px
    - Laptop - 1024px
    - Large laptop: 1440px
    - TVs + big monitors: 2560px

    The foregoing a default breakpoints to consider when building a fluid website.
*/

/* Mobile styles -- Starting point -- 320px | 375px */
/* 12 col | 8 col | 4 col */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    overflow: auto;
}

    /* Join Our Community styles */
#join-our-community {
    grid-column: 1 / -1;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

    /* Monthly Subscription styles */
#monthly-subscription {
    grid-column: 1 / -1;
}

    /* Why Us styles */
#why-us {
    grid-column: 1 / -1;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Footer styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}