/* 
    - Variables
    - Browser default styles
    - Base styles
    - Font styles

    The foregoing remain constant throughout all styles specified for all screens.
*/

/* Varibables */
:root {
    --primary-1: hsl(179, 62%, 43%);
    --primary-2: hsl(71, 73%, 54%);

    --neutral-1: hsl(204, 43%, 93%);
    --neutral-2: hsl(218, 22%, 67%);

    --font-stack: Karla;
}

/* Reset browser defaults */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Base styles */
body {
    font-size: 16px;
    font-family: var(--font-stack);
}

/* Font styles */
/* -------------------- */

/*
    - Small mobile - 320px
    - Medium mobile - 375px
    - Large mobile - 425px
    - Tablet - 768px
    - Laptop - 1024px
    - Large laptop: 1440px
    - TVs + big monitors: 2560px

    The foregoing a default breakpoints to consider when building a fluid website.
*/

/* Mobile styles -- Starting point -- 320px | 375px */
/* 12 col | 8 col | 4 col */
/* -------------------- */

/* Footer styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}